body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/*.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  height: 16px;
  width: 16px;
  padding: 0;
  margin: -1px 0 0 -1px;
}

.square:focus {
	outline: none;
}

.square:nth-of-type(50n+1) {
	clear: left; 
}

.on {
  background: #999;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  width: 800px;
}
*/